.navbar{
display: flex;
flex-direction: row;
gap: 15px;
justify-content: center;
align-items: center;
background-color: rgb(255, 75, 9);

height: 40px;
width: 100%;

}

.logoname {
color: cornsilk;
font-family: sans-serif;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

span{
    font-size: xx-large;color: black;
}

input{
width: 50%;
height: 20px;
border: 1px;
border-radius: 3px;

}

img{
width: 95%;
height: 260px;
padding: 15px;

}
.banner{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

}

.menu{

    display: flex;flex-direction: row;justify-content: space-between;align-items: center;
    background-color: rgb(255, 176, 17);
     width: 86%;
     margin: auto;
     padding: 50px;
     height: 1px; 

}

.pageview{

    height: 100%;
    background-color: rgb(249, 166, 76);
padding: 50px;
width: 87%;
display: flex;
flex-wrap: wrap;
gap: 20px;
margin-top: 30px;
margin-left: 40px;

}

.CHART1{
border: none;
/* height: 290px; */
width: 200px;
background-color: white;
display: flex;
flex-direction: column;
align-items: center;
border-radius: 7px;
}